h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.locate {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 10;
}